@if (misionActual()) {
  <nav class="nav-mini">
    
    <button class="btn-retirada" (click)="volverALaTaberna()">
      RETIRADA
    </button>

    <button class="btn-retirada" (click)="gestionDeMazos()">
      GESTION MAZOS
    </button>

    <div class="piedra-base">
      <button class="sello azul" 
              [class.activo]="vistaActual() === 'VIEW_HEROES'"
              (click)="cambiaVista('VIEW_HEROES')">
        <span>H</span>
      </button>
  
      <span class="runa">ᚱ</span>
  
      <button class="sello rojo" 
              [class.activo]="vistaActual() === 'VIEW_MB'"
              (click)="cambiaVista('VIEW_MB')">
        <span>MB</span>
      </button>
    </div>
  </nav>
}