<div class="mb-container">
  <main class="mb-display">
    @if (faseActualMB() === 'INICIO_MB') {
      <div class="inicio-mb">
        <img src="/imagenes/MB.png" />
      </div>
    }
    @if (faseActualMB() === 'MENSAJE') {
    <div class="mensaje-container">
        <div class="mensaje-background">
            <div class="texto-animado">
                <div class="modal-header">
                    <h2>RESULTADO DE LA TIRADA: {{ this.mensajeEscrito().resultadoDado }}</h2>
                </div>
                @if (this.mensajeEscrito().tipoTirada === 'EVENTO') {
                  <div class="modal-body-evento">
                    {{ this.mensajeEscrito().texto }}
                  </div>
                } @else {
                  <div class="modal-body">
                    {{ this.mensajeEscrito().texto }}
                  </div>
                }                    
            </div>
        </div>
    </div>
    } @else if (faseActualMB() === 'BESTIARIO') {
      <div class="bestiario">
        <div class="familia-container">
          <select (change)="seleccionarTabla($event)">
            <option value="Pieles Verdes" selected>Pieles Verdes</option>
            <option value="No-muertos">No Muertos</option>
            <option value="Caos y Demonios">Legiones del Caos</option>
            <option value="Bestias">Bestias</option>
            <option value="Forajidos">Forajidos</option>
          </select>
        </div>
        <div class="bestiario-container">
          <table class="tabla-monstruos">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Mv</th>
                <th>At</th>
                <th>Df</th>
                <th>PC</th>
                <th>PM</th>
              </tr>
            </thead>
            <tbody>
              @for (m of monstruosSeleccionados(); track m.id) {
                <tr>
                  <td>{{ m.nombre }}</td>
                  <td>{{ m.mv }}</td>
                  <td>{{ m.at }}</td>
                  <td>{{ m.df }}</td>
                  <td>{{ m.pc }}</td>
                  <td>{{ m.pm }}</td>
                </tr>
                <tr class="habilidad-row">
                  <td colspan="6">{{ m.especial }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
    
  </main>

</div>
