// --- ESTILOS EXCLUSIVOS MÓVIL (1 COLUMNA) ---
.app-viewport-container-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 10px;

  .header-mobile{
    background: url('/textures/fondo_head.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    padding: 35px 20px;
    text-align: center;
    max-width: 380px;
    //margin: 15px auto 5px auto;
  }
}

// --- ESTILOS EXCLUSIVOS PANTALLA GRANDE (2 COLUMNAS) ---
.app-game-screen-desktop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto 16px auto;
  padding: 20px;
  box-sizing: border-box;
  
  .header-desktop{
    background: url(/textures/fondo_head.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 35px 80px;
    text-align: center;
    max-width: 380px;
    margin: 5px auto 15px auto;
  }

  .cuerpo-juego-desktop {
    display: grid;
    grid-template-columns: 1fr 500px; /* Izquierda elástica para cartas, Derecha fija para botones */
    gap: 25px;
    flex: 1; /* Absorbe el resto del alto de la pantalla bajo la cabecera */
    min-height: 0; /* Evita desbordamientos extraños */
  }

  .game-viewport {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .columna-controles-desktop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(0, 0, 0, 0.45);
    padding: 25px 20px;
    border-radius: 12px;
    border: 1px solid #2c1e11;
    overflow-y: auto; /* Scroll interno para la botonera si crece */
  }
}