@if (mostrarLayoutDesktop()) {
  <div class="app-game-screen-desktop">
    
    <app-header class="header-desktop"></app-header>

    <div class="cuerpo-juego-desktop">
      <main class="game-viewport">
        <router-outlet></router-outlet>
      </main>

      <div class="columna-controles-desktop">
        <app-navbar></app-navbar>
        <app-acciones></app-acciones>
      </div>
    </div>

  </div>
} @else {
  <div class="app-viewport-container-mobile">
    <app-header class="header-mobile"></app-header>
    
    <app-navbar></app-navbar>
    
    <main class="game-viewport">
      <router-outlet></router-outlet>
      @if (!esRutaForjaAventura()) {
        <app-acciones></app-acciones>
      }
    </main>
  </div>
}