html {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/textures/dark_stone_texture.png');
}

/* Fuente para Títulos (ej. la de las cartas) */
@font-face {
  font-family: 'FetenQuestTitles';
  src: url('/fonts/GoudyMedieval-Alternate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fuente para Cuerpo de texto */
@font-face {
  font-family: 'FetenQuestBody';
  src: url('/fonts/Romic Std Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}